/* App.css - ESTRUCTURA BASE */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FCF8F8;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Previene el scroll cuando el modal está abierto */
body:has(.modal-overlay-preview) {
  overflow: hidden;
}